<div class="row">
    <div class="col-7">
        <li class="list-group-item" [ngClass]="{'active': selectedPC === pc}" (click)="listClick()">
            Build name: {{pc.name}} 
            <br><br>Description: {{pc.description}}
        </li>
    </div>
    <div class="col">
        <div class="float-right">
            <div class="btn-group">
                <button class="btn btn-outline-danger" *ngIf="showDelete" (click)="clickedDelete()">Delete</button>
                <button class="btn btn-outline-danger" *ngIf="showConfirm"
                    (click)="clickedConfirmDelete()">Confirm</button>
                <button class="btn btn-outline-primary" *ngIf="showConfirm"
                    (click)="clickedCancelDelete()">Cancel</button>
            </div>
        </div>
    </div>
</div>