<div class="container">

    <div class="card-group">
        <div class="row">
            <div class="col offset-md-4">
                <div class="card">
                    <div class="card-header"><a href="https://www.amazon.com/s?k=pc+parts&ref=nb_sb_noss_1">Amazon</a>
                    </div>
                    <div class="card-body">
                        <img src="../../assets/images/amazon.png" alt="Amazon Logo" class="image">
                        Amazon is a great site for picking up some parts for cheap
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header"><a href="https://pcpartpicker.com/">PCPartPicker</a></div>
                    <div class="card-body">
                        <img src="../../assets/images/pcpartpicker.png" alt="PCPartPicker Logo" class="image">
                        PCPartPicker is great for checking if your builds will work (We're working on
                        implementing this feature)
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header"><a href="https://www.newegg.com/">NewEgg</a></div>
                    <div class="card-body">
                        <img src="../../assets/images/newegg.jpg" alt="NewEgg Logo" class="image">
                        New Egg is another great site for picking up some parts for cheap (They offer tons of rebates)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-md-6">
                <div class="card">
                    <div class="card-header"><a href="https://cpu.userbenchmark.com/">CPU User Benchmark</a></div>
                    <div class="card-body">
                        <img src="../../assets/images/cpuuserbenchmark.png" alt="CPU User Benchmark logo" class="image">
                        CPU User Benchmark is awesome for pitting your build against other peoples'
                        builds
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>