<div class="container">

    <div class="card-group">
        <div class="card">
            <div class="card-header">Amazon</div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header">PCPartPicker</div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header">NewEgg</div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header">CPU Benchmark</div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>
